@mixin desktopHd() {
  @media screen and (min-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $bp-desktop) {
    @content;
  }
}

@mixin tablets() {
  @media screen and (min-width: $bp-tablets) {
    @content;
  }
}

@mixin phones() {
  @media screen and (min-width: $bp-phones) {
    @content;
  }
}