include ./mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        section.welcome.fullscreen-section
          .container
            header.header
              .header__left
                .span.logo-text ВШ
              .header__center
                .header__menu
                  nav.menu
                    ul.menu__list
                      - var menuLinks = ["Обо мне", "Навыки", "Работы", "Отзывы"];
                      each item in menuLinks
                        li.menu__item
                          a(href="#").menu__link #{item}
              .header__right
                ul.social-icons
                  - var socials = ['insta', 'vk', 'github', 'envelope'];
                  each item in socials
                    li.social-icons__item
                      a(href=`${item === 'envelope' ? 'mailto:vs@zorca.org' : '#'}`).social-icons__link
                        +icon(item, 'social-icons__icon')
