.about {
  display: flex;
  align-items: center;
}

.about__left {
  width: 40%;
}

.about__right {
  margin-left: 14%;
}

.about__desc {
  margin-bottom: 20px;
}

.about__title {
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  margin-bottom: 30px;
}
