.btn-scroll-down {
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.btn-scroll-down__icon {
  height: 14px;
  width: 14px;
  fill: $text-color;
  margin-left: 15px;
  animation: u-animation-spin 2s infinite;
}
