.hero {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 48px;
}

.hero_title {
  margin-top: 24px;
  font-size: 72px;
  line-height: 1;
  font-weight: 800;
}

.hero__subtitle {
  max-width: 165px;
  margin: 0 auto;
  font-size: 18px;
}
