.user {

}

.user__avatar {
  margin-bottom: 80px;
}

.user__avatar-wrapper {
   text-align: right;
 }

.user__avatar-img {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.user__table {
  width: 100%;
}

.user__table-item {
  font-weight: 600;
}

.user__table-item-title {
  color: rgba(70, 78, 98, 0.5);
}

.user__table-item-content {
  text-align: right;
}
